.base {
  width: 1600px;
  height: 100vh;
  display: flex;
  position: relative;
}
.right {
  width: 40%;
  position: relative;
}

.left {
  width: 60%;
}

.coffee {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.lower {
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  bottom: 42px;
  padding: 16px 20px;
  color: white;
  background-color: black;
  font-size: 20px;
  font-weight: 700;
}

.head {
  margin-left: -148px;
  margin-top: 52px;
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 48px;
  font-weight: 700;
  background-color: white;
  z-index: 2;
  padding: 20px 0 20px 55px;
}

.rating {
  display: flex;
  align-items: center;
}

.star {
  margin-right: 4px;
}

.star1 {
  margin-right: 12px;
}

.num {
  font-size: 14px;
  font-weight: 400;
}

.timeTo {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  margin: 20px 313px 31px 109px;
  justify-content: space-around;
}

.group1 {
  display: flex;
}

.icon {
  margin-right: 15px;
}

.icon1 {
  margin-right: 8px;
}

.insc {
  font-size: 12px;
  font-weight: 400;
}

.orange {
  font-size: 14px;
  font-weight: 700;
  color: #FFA41B;
}

.description {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  margin: 20px 200px 31px 109px;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  line-height: 31.4px;
}

  